.social-media{
    border-radius: 5px;
    width: 230px;
    background-color: white;
    margin: 0 10px 20px auto;
    display: inline-table;
    padding: .5rem;
    user-select: none;
    cursor: pointer;
    transition: all 1s ease;
}

.social-media:hover{
    transform: scale(0.9);
}

.social-media p{
    font-size: 15px;
}

.social-media i{
    font-size: 50px;
    float: left;
    padding: .2rem;
}

.social-media div{
    float: right;
    line-height: 1px;
}

/* form */
form{
    margin: 0 auto;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    border-radius: 20px;
    padding: 30px 5px 30px 5px;
    animation: formColor 5s linear infinite;
}

@keyframes formColor{
    33.33%{
        box-shadow: 0 0 15px rgb(173, 181, 27);
    }
    66.66%{
        box-shadow: 0 0 15px rgb(19, 134, 187);
    }
    100%{
        box-shadow: 0 0 15px rgb(20, 207, 92);
    }
}

form div{
    margin-bottom: 22px;
}

form input,
form textarea{
    width: 70%;
    resize: none;
    border-radius: 20px;
    text-align: center;
}

form p{
    margin-bottom: 1px;
    color: red;
    font-size: 14px;
    text-align: center;
}