.navbar{
    position: fixed;
    width: 0%;
    float: left;
    /* background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389); */
}

.navbar-hide{
    position: fixed;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    color: white;
    background: #16222A;
    background: -webkit-linear-gradient(to right, #16222A, #3A6073);
    background: linear-gradient(to right, #16222A, #3A6073);
    z-index: 999;
}

/* Toggle Button */
.col-md-12:nth-child(1) .ticon{
    position: fixed;
    font-size: 30px;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    top: 1rem;
    left: 1rem;
    width: 40px;
    text-align: center;
}
/* Toggle Button ends */

.col-md-12:nth-child(2) img{
    width: 100px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 8%;
    transition: all 1s ease;
}
.col-md-12:nth-child(2) img:hover{
    transform: scale(1.1);
}

.col-md-12:nth-child(2) h4{
    margin-top: 5px;
}
.col-md-12:nth-child(2) p{
    margin-top: -10px;
    margin-bottom: 2px;
}

.col-md-12:nth-child(2) p{
    color: rgb(178, 171, 171);
    font-weight: 500;
}

.col-md-12:nth-child(2) i{
    color: white;
    font-size: 25px;
    padding-right: 7px;
    transform: all 2s ease-in-out;
    cursor: pointer;
}

.col-md-12:nth-child(2) i:hover{
    transform: scale(1.2);
}

.col-md-12:nth-child(2) hr{
    border-top: 2px solid white;
}

/* Navigation Bar */

nav{
    margin-bottom: 18vh;
}

nav ul li{
    text-align: left;
    width: 100%;
    border-bottom: 1px solid rgb(25, 22, 22);
    margin-bottom: 15px;
}

nav ul li a{
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    color: rgb(228, 222, 222);
    font-weight: 600;
    cursor: pointer;
}

nav ul li a:hover{
    color: yellowgreen;
}

/* hide / show */

.hide{
    display: none;
}

.hideFooter{
    display: none;
}

.showFooter{
    display: block;
    background: black;
    color: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 895px){
    .navbar-hide{
        width: 50%;
    }
}
@media (max-width: 600px){
    .navbar-hide{
        width: 70%;
    }
}
@media (max-width: 420px){
    .navbar-hide{
        width: 100%;
    }
}