.projects .col-md-12:nth-child(1) h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.project-container{
    position: relative;
    width: 280px;
    height: 190px;
    margin: 1rem auto;
}

.the-card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.the-card:hover{
    transform: rotateY(180deg);
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    border-radius: 20px;
}

.card-front img{
    width: 100%;
    height:100%;
    border-radius: 5px;
}

.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    padding: 1rem;
    transform: rotateY(180deg);
    font-weight: 500;
    /* background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4); */
    background-color: black;
    color: white;
    animation: animateCard 5s linear infinite;
}

@keyframes animateCard{
    33.33%{
        box-shadow: 0 0 15px red;
    }
    66.66%{
        box-shadow: 0 0 15px rgb(25, 147, 191);
    }
    100%{
        box-shadow: 0 0 15px rgb(157, 177, 23);
    }
}
.card-back a{
    width: 50%;
    text-decoration: none;
    font-size: 20px;
    /* color: white; */
}