.react-pdf__Page__canvas{
    margin: 0 auto;
}

#page{
    width: 100%;
    border: 1px solid red;
}

.react-pdf__Page__textContent{
    display: none;
}

@media (max-width: 780px){
    #page{
        width: 20%;
    }
}