*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.home,
.projects,
.contact,
.resume,
.nopage{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  float: right;
  padding: 3rem 3rem 3rem 3rem;
  user-select: none;
  color: white;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  text-align: center;
}